{"swagger":"2.0","info":{"version":"v1.0","title":"UWPrograms API - 1.0"},"host":"dvacsws02.ad.axa-cs.intraxa:50020","basePath":"/UWProgramApi","schemes":["http"],"paths":{"/v1.0/export/{programId}/all":{"get":{"tags":["UwExport"],"summary":"Get a set of UW Programs by page, corresponding to different filters.","operationId":"UwExport_ExportLocationData","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClusterDto"}}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogram/{programId}/GlobalExpertData":{"get":{"tags":["UwProgramGlobalExpertData"],"summary":"Get layers by program identifier","operationId":"UwProgramGlobalExpertData_GetGlobalExpertDataByProgramId","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GlobalExpertDataDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UwProgramGlobalExpertData"],"summary":"<summary>Update a global expert by global expert data Identifier</summary>","operationId":"UwProgramGlobalExpertData_UpdateGlobalExpertData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"item","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/GlobalExpertDataDto"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/GlobalExpertDataDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UwProgramGlobalExpertData"],"summary":"Create a global expert by programId","operationId":"UwProgramGlobalExpertData_CreateGlobalExpertData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"},{"name":"ged","in":"body","description":"The global expert data.","required":true,"schema":{"$ref":"#/definitions/GlobalExpertDataDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/GlobalExpertDataDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UwProgramGlobalExpertData"],"summary":"Delete a global expert of an underwriting Identifier","operationId":"UwProgramGlobalExpertData_DeleteGlobalExpertData","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"Deleted","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/AxaMatrixBuildingType":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the AXA MATRIX building type repository.","operationId":"UwProgramRepository_GetAxaMatrixBuildingType","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/BiDeclaredValueFor":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the BI declared value for repository.","operationId":"UwProgramRepository_GetBiDeclaredValueFor","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/BuildingStructure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the building structure repository.","operationId":"UwProgramRepository_GetBuildingStructure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/EarthquakeVulnerability":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the earthquake vulnerability repository.","operationId":"UwProgramRepository_GetEarthquakeVulnerability","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireActiveProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire active protection repository.","operationId":"UwProgramRepository_GetFireActiveProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireAssetIntegrityManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire asset integrity management repository.","operationId":"UwProgramRepository_GetFireAssetIntegrityManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireBiExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire BI exposure repository.","operationId":"UwProgramRepository_GetFireBiExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireHumanElement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire human element repository.","operationId":"UwProgramRepository_GetFireHumanElement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireOccupancyRelatedHazards":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire occupancy related hazards repository.","operationId":"UwProgramRepository_GetFireOccupancyRelatedHazards","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FirePassiveProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire passive protection repository.","operationId":"UwProgramRepository_GetFirePassiveProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireProcessSafetyManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire process safety management.","operationId":"UwProgramRepository_GetFireProcessSafetyManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireReportQuality":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire report quality repository.","operationId":"UwProgramRepository_GetFireReportQuality","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireRiskManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire risk management repository.","operationId":"UwProgramRepository_GetFireRiskManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireSurveillance":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire surveillance repository.","operationId":"UwProgramRepository_GetFireSurveillance","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FireThirdPartyExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire third party exposure repository.","operationId":"UwProgramRepository_GetFireThirdPartyExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/FloodVulnerability":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the flood vulnerability repository.","operationId":"UwProgramRepository_GetFloodVulnerability","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GeocodingAccuracy":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the geocoding accuracy repository.","operationId":"UwProgramRepository_GetGeocodingAccuracy","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GeocodingMode":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the geocoding mode repository.","operationId":"UwProgramRepository_GetGeocodingMode","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireActiveProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire active protection repository.","operationId":"UwProgramRepository_GetGlobalFireActiveProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireAssetIntegrityManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire asset integrity management repository.","operationId":"UwProgramRepository_GetGlobalFireAssetIntegrityManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireBiExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire BI exposure repository.","operationId":"UwProgramRepository_GetGlobalFireBiExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireHumanElement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire human element repository.","operationId":"UwProgramRepository_GetGlobalFireHumanElement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireOccupancyRelatedHazards":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire occupancy related hazards repository.","operationId":"UwProgramRepository_GetGlobalFireOccupancyRelatedHazards","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFirePassiveProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire passive protection repository.","operationId":"UwProgramRepository_GetGlobalFirePassiveProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireProcessSafetyManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire process safety management repository.","operationId":"UwProgramRepository_GetGlobalFireProcessSafetyManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireRiskManagement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire risk management repository.","operationId":"UwProgramRepository_GetGlobalFireRiskManagement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireSurveillance":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire surveillance repository.","operationId":"UwProgramRepository_GetGlobalFireSurveillance","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalFireThirdPartyExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global fire third party exposure repository.","operationId":"UwProgramRepository_GetGlobalFireThirdPartyExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbElectricSupplyExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB electric supply exposure repository.","operationId":"UwProgramRepository_GetGlobalMbElectricSupplyExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbEquipmentSpecification":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB equipment specification repository.","operationId":"UwProgramRepository_GetGlobalMbEquipmentSpecification","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbEssentialFluidsExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB essential fluids exposure repository.","operationId":"UwProgramRepository_GetGlobalMbEssentialFluidsExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbHumanElement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB human element repository.","operationId":"UwProgramRepository_GetGlobalMbHumanElement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbInstalledProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB installed protection repository.","operationId":"UwProgramRepository_GetGlobalMbInstalledProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbLocationAccessibility":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB location accessibility repository.","operationId":"UwProgramRepository_GetGlobalMbLocationAccessibility","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/GlobalMbMachineryReliability":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the global MB machinery reliability repository.","operationId":"UwProgramRepository_GetGlobalMbMachineryReliability","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbElectricSupplyExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB electric supply exposure repository.","operationId":"UwProgramRepository_GetMbElectricSupplyExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbEquipmentSpecification":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB equipment specification repository.","operationId":"UwProgramRepository_GetMbEquipmentSpecification","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbEssentialFluidsExposure":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the mb essential fluids exposure repository.","operationId":"UwProgramRepository_GetMbEssentialFluidsExposure","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbHumanElement":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB human element repository.","operationId":"UwProgramRepository_GetMbHumanElement","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbInstalledProtection":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB installed protection repository.","operationId":"UwProgramRepository_GetMbInstalledProtection","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbLocationAccessibility":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB location accessibility repository.","operationId":"UwProgramRepository_GetMbLocationAccessibility","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbMachineryReliability":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the fire BI exposure repository.","operationId":"UwProgramRepository_GetMbMachineryReliability","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/MbReportQuality":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the MB report quality repository.","operationId":"UwProgramRepository_GetMbReportQuality","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/RoofName":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the name of the roof repository.","operationId":"UwProgramRepository_GetRoofName","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/WindVulnerability":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the wind vulnerability repository.","operationId":"UwProgramRepository_GetWindVulnerability","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/ZoneEarthquakeGSHAP":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the zone earthquake GSHAP repository.","operationId":"UwProgramRepository_GetZoneEarthquakeGshap","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/ZoneFloodAXA":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the zone flood AXA repository.","operationId":"UwProgramRepository_GetZoneFloodAxa","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/ZoneFloodAxaMatrix":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the zone flood AXA MATRIX repository.","operationId":"UwProgramRepository_GetZoneFloodAxaMatrix","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/ZoneFloodUwp":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the zone flood UWP repository.","operationId":"UwProgramRepository_GetZoneFloodUwp","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprogramrepositories/ZoneWindAXA":{"get":{"tags":["UwProgramRepository"],"summary":"Gets the zone wind AXA repository.","operationId":"UwProgramRepository_GetZoneWindAxa","consumes":[],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnderwritingRepositoryDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms":{"get":{"tags":["UWProgram"],"summary":"Get a set of UW Programs by page, corresponding to different filters.","operationId":"UWProgram_GetPrograms","consumes":[],"produces":["application/json"],"parameters":[{"name":"$skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"$top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"$count","in":"query","required":false,"type":"boolean"},{"name":"$orderby","in":"query","required":false,"type":"string"},{"name":"$filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageResult[ProgramDto]"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UWProgram"],"summary":"Creates the Program.","operationId":"UWProgram_CreateProgram","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programDto","in":"body","description":"The Program.","required":true,"schema":{"$ref":"#/definitions/ProgramDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProgramDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}":{"get":{"tags":["UWProgram"],"summary":"Get a Program by his identifier.","operationId":"UWProgram_GetProgramById","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The Program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProgramDto"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UWProgram"],"operationId":"UWProgram_UpdateProgram","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/ProgramDto"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ProgramDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UWProgram"],"summary":"Deletes the program.","operationId":"UWProgram_DeleteProgram","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/checklistsitems":{"get":{"tags":["UWProgramCheckList"],"operationId":"UWProgramCheckList_GetCheckListProgramId","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CheckListDto"}}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UWProgramCheckList"],"operationId":"UWProgramCheckList_UpdateCheckList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"checklist","in":"body","required":true,"schema":{"$ref":"#/definitions/CheckListDto"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/CheckListDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/clusters":{"get":{"tags":["UwCluster"],"summary":"Get a set of clusters.","operationId":"UwCluster_GetClustersByUwProgramId","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The underwriting program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClusterDto"}}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UwCluster"],"summary":"Updates the cluster.","operationId":"UwCluster_UpdateCluster","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The underwriting program identifier.","required":true,"type":"integer","format":"int32"},{"name":"cluster","in":"body","description":"The cluster to update.","required":true,"schema":{"$ref":"#/definitions/ClusterDto"}}],"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UwCluster"],"summary":"Creates a cluster.","operationId":"UwCluster_CreateCluster","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The underwriting program identifier.","required":true,"type":"integer","format":"int32"},{"name":"cluster","in":"body","description":"The cluster to create.","required":true,"schema":{"$ref":"#/definitions/ClusterDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ClusterDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/clusters/{clusterId}":{"get":{"tags":["UwCluster"],"summary":"Get a cluster by its identifier.","operationId":"UwCluster_GetClusterById","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"},{"name":"clusterId","in":"path","description":"The cluster identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ClusterDto"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"The requested cluster doesn't exists"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UwCluster"],"summary":"Deletes the program.","operationId":"UwCluster_DeleteCluster","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"},{"name":"clusterId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Cluster to delete not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/layers":{"get":{"tags":["UWProgramLayer"],"summary":"Get layers by program identifier","operationId":"UWProgramLayer_GetLayers","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/LayerDto"}}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UWProgramLayer"],"summary":"","operationId":"UWProgramLayer_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"item","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/LayerDto"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/LayerDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UWProgramLayer"],"summary":"Create a layer by programId","operationId":"UWProgramLayer_CreateLayerById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"layer","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/LayerDto"}},{"name":"programId","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/LayerDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/layers/{layerId}":{"delete":{"tags":["UWProgramLayer"],"summary":"Delete a layer by layer identifier","operationId":"UWProgramLayer_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"layerId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"programId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/quotashares":{"get":{"tags":["UWProgramQuotaShare"],"summary":"Get all  quota shares by program identifier","operationId":"UWProgramQuotaShare_GetQuotaShares","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"program identifier","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/QuotaShareDto"}}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UWProgramQuotaShare"],"summary":"Update current quota share","operationId":"UWProgramQuotaShare_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"quotaShareDto","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/QuotaShareDto"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/QuotaShareDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UWProgramQuotaShare"],"summary":"Create a quota share","operationId":"UWProgramQuotaShare_CreateQuotaShare","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"quotaShareDto","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/QuotaShareDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/QuotaShareDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/quotashares/{layerId}":{"get":{"tags":["UWProgramQuotaShare"],"summary":"Get quota share by his identifier","operationId":"UWProgramQuotaShare_GetQuotaShareById","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"program identifier","required":true,"type":"integer","format":"int32"},{"name":"layerId","in":"path","description":"layer identifier","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/QuotaShareDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"NotFound"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UWProgramQuotaShare"],"summary":"Delete quto share by id","operationId":"UWProgramQuotaShare_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"layerId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programid}/riskobjectslinks":{"get":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_GetAllDesiredUWProgramsRiskObjects","consumes":[],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","required":true,"type":"integer","format":"int32"},{"name":"$skip","in":"query","required":false,"type":"integer","format":"int32"},{"name":"$top","in":"query","required":false,"type":"integer","format":"int32"},{"name":"$count","in":"query","required":false,"type":"boolean"},{"name":"$orderby","in":"query","required":false,"type":"string"},{"name":"$filter","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageResult[ProgramRiskObjectDto]"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"put":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_UpdateProgramRiskObject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","required":true,"type":"integer","format":"int32"},{"name":"programRiskObjectDto","in":"body","required":true,"schema":{"$ref":"#/definitions/ProgramRiskObjectDto"}}],"responses":{"201":{"description":"Updated"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_CreateProgramRiskObject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","required":true,"type":"integer","format":"int32"},{"name":"programRiskObjectDto","in":"body","required":true,"schema":{"$ref":"#/definitions/ProgramRiskObjectDto"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ProgramRiskObjectDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/riskobjectslinks":{"delete":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_DeleteRiskObjects","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programid}/riskobjectslinks/{riskobjectid}":{"get":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_GetProgramRiskObjectById","consumes":[],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","required":true,"type":"integer","format":"int32"},{"name":"riskobjectid","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProgramRiskObjectDto"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/riskobjectslinks/{riskobjectId}":{"delete":{"tags":["UWProgramRiskObject"],"operationId":"UWProgramRiskObject_DeleteProgramRiskObjectById","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"riskobjectId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"404":{"description":"Not found"},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/termconditions":{"get":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_GetPerils","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PerilDto"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/termconditions/{perilId}":{"get":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"perilId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PerilDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_Update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"perilId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/PerilDto"}}],"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_DeleteAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"perilId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PerilDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/termconditions/{perilId}/SubPeril/{subPerilId}":{"post":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_AddSubPerilAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"perilId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"subPerilId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UwProgramTermCondition"],"operationId":"UwProgramTermCondition_DeleteSubPerilAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"perilId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"subPerilId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/termconditionspecifics":{"get":{"tags":["UwProgramTermConditionSpecific"],"operationId":"UwProgramTermConditionSpecific_GetAllTermConditionsSpecific","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/TermsConditionsSpecificRootDto"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"post":{"tags":["UwProgramTermConditionSpecific"],"operationId":"UwProgramTermConditionSpecific_CreateOrUpdate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/TermsConditionsSpecificRootDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/TermsConditionsSpecificRootDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwprograms/{programId}/termconditionspecifics/{termConditionSpecificId}":{"get":{"tags":["UwProgramTermConditionSpecific"],"operationId":"UwProgramTermConditionSpecific_GetTermConditionsSpecific","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"termConditionSpecificId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TermsConditionsSpecificRootDto"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}},"delete":{"tags":["UwProgramTermConditionSpecific"],"operationId":"UwProgramTermConditionSpecific_DeleteTermConditionsSpecific","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"termConditionSpecificId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"Success"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwpruledecoders":{"post":{"tags":["UwpTermsConditionApplication"],"summary":"Razs the pricing results.","operationId":"UwpTermsConditionApplication_RazPricingResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"query","description":"The program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Prices reset"},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwpruledecoders/{programid}/ApplySpecificTermsAndConditions":{"get":{"tags":["UwpTermsConditionApplication"],"summary":"Does apply the specific terms and conditions.","operationId":"UwpTermsConditionApplication_DoApplySpecificTandC","consumes":[],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","description":"The programId.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwpruledecoders/{programId}/CallPricing":{"get":{"tags":["UwpTermsConditionApplication"],"summary":"Merge and format data to call pricing routine for an underwriting program.","operationId":"UwpTermsConditionApplication_DoFormatAndCallPricingForProgram","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The underwriting program identifier.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PricingResponse"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwpruledecoders/{programid}/GetPricingResults":{"get":{"tags":["UwpTermsConditionApplication"],"summary":"Gets the pricing results.","operationId":"UwpTermsConditionApplication_GetPricingResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"programid","in":"path","description":"The programid.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PricingResultDto"}}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}},"/v1.0/uwpruledecoders/{programId}/GetSpecificTermsAndConditionsResults":{"get":{"tags":["UwpTermsConditionApplication"],"summary":"Get  the specific terms and conditions result rules.","operationId":"UwpTermsConditionApplication_GetSpecificTandCResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"programId","in":"path","description":"The program identifier.","required":true,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The skip.","required":false,"type":"integer","format":"int32"},{"name":"$top","in":"query","description":"The top.","required":false,"type":"integer","format":"int32"},{"name":"$count","in":"query","description":"The count.","required":false,"type":"boolean"},{"name":"$orderby","in":"query","description":"The orderby.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"The filter.","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PageResult[PricingViewDto]"}},"400":{"description":"BadRequest","schema":{"type":"string"}},"401":{"description":"Not authenticated","schema":{"$ref":"#/definitions/ApiError"}},"403":{"description":"Not authorized","schema":{"$ref":"#/definitions/ApiError"}},"520":{"description":"Unknown error","schema":{"$ref":"#/definitions/ApiError"}}}}}},"definitions":{"PricingResponse":{"description":"Class PricingResponse.","type":"object","properties":{"Premiums":{"description":"Gets Premium amount.","type":"array","items":{"$ref":"#/definitions/OutPutPricing"}}}},"OutPutPricing":{"type":"object","properties":{"IdLayer":{"format":"int32","description":"","type":"integer"},"IdRO":{"format":"int32","description":"","type":"integer"},"Peril":{"description":"","type":"string"},"Premium":{"format":"double","description":"","type":"number"}}},"ApiError":{"type":"object","properties":{"ErrorType":{"enum":["InputError","ConflictError","UnknownError","IncorrectUrlError","UnauthorizedError","UnauthenticatedError"],"type":"string"},"ErrorId":{"type":"string"},"Message":{"type":"string"},"Description":{"type":"string"},"InputErrors":{"type":"array","items":{"$ref":"#/definitions/ApiInputErrorDetail"}}}},"ApiInputErrorDetail":{"type":"object","properties":{"InputPath":{"type":"string"},"Messages":{"type":"array","items":{"type":"string"}}}},"PricingResultDto":{"type":"object","properties":{"UndewritingProgramId":{"format":"int32","type":"integer"},"LayerId":{"format":"int32","type":"integer"},"PerilId":{"format":"int32","type":"integer"},"RiskObjectId":{"format":"int32","type":"integer"},"CalculatedPremium":{"format":"double","type":"number"},"Creator":{"type":"string"}}},"ODataQueryOptions[PricingViewDto]":{"type":"object","properties":{"IfMatch":{"type":"object","readOnly":true},"IfNoneMatch":{"type":"object","readOnly":true},"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"Request":{"type":"object","readOnly":true},"RawValues":{"$ref":"#/definitions/ODataRawQueryOptions","readOnly":true},"SelectExpand":{"$ref":"#/definitions/SelectExpandQueryOption","readOnly":true},"Apply":{"$ref":"#/definitions/ApplyQueryOption","readOnly":true},"Filter":{"$ref":"#/definitions/FilterQueryOption","readOnly":true},"OrderBy":{"$ref":"#/definitions/OrderByQueryOption","readOnly":true},"Skip":{"$ref":"#/definitions/SkipQueryOption","readOnly":true},"Top":{"$ref":"#/definitions/TopQueryOption","readOnly":true},"Count":{"$ref":"#/definitions/CountQueryOption","readOnly":true},"Validator":{"$ref":"#/definitions/ODataQueryValidator"}}},"ODataQueryContext":{"type":"object","properties":{"Model":{"$ref":"#/definitions/IEdmModel","readOnly":true},"ElementType":{"$ref":"#/definitions/IEdmType","readOnly":true},"NavigationSource":{"$ref":"#/definitions/IEdmNavigationSource","readOnly":true},"ElementClrType":{"type":"string","readOnly":true},"Path":{"$ref":"#/definitions/ODataPath","readOnly":true}}},"ODataRawQueryOptions":{"type":"object","properties":{"Filter":{"type":"string","readOnly":true},"Apply":{"type":"string","readOnly":true},"OrderBy":{"type":"string","readOnly":true},"Top":{"type":"string","readOnly":true},"Skip":{"type":"string","readOnly":true},"Select":{"type":"string","readOnly":true},"Expand":{"type":"string","readOnly":true},"Count":{"type":"string","readOnly":true},"Format":{"type":"string","readOnly":true},"SkipToken":{"type":"string","readOnly":true},"DeltaToken":{"type":"string","readOnly":true}}},"SelectExpandQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"RawSelect":{"type":"string","readOnly":true},"RawExpand":{"type":"string","readOnly":true},"Validator":{"$ref":"#/definitions/SelectExpandQueryValidator"},"SelectExpandClause":{"$ref":"#/definitions/SelectExpandClause","readOnly":true},"LevelsMaxLiteralExpansionDepth":{"format":"int32","type":"integer"}}},"ApplyQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"ResultClrType":{"type":"string","readOnly":true},"ApplyClause":{"$ref":"#/definitions/ApplyClause","readOnly":true},"RawValue":{"type":"string","readOnly":true}}},"FilterQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"Validator":{"$ref":"#/definitions/FilterQueryValidator"},"FilterClause":{"$ref":"#/definitions/FilterClause","readOnly":true},"RawValue":{"type":"string","readOnly":true}}},"OrderByQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"OrderByNodes":{"type":"array","items":{"$ref":"#/definitions/OrderByNode"},"readOnly":true},"RawValue":{"type":"string","readOnly":true},"Validator":{"$ref":"#/definitions/OrderByQueryValidator"},"OrderByClause":{"$ref":"#/definitions/OrderByClause","readOnly":true}}},"SkipQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"RawValue":{"type":"string","readOnly":true},"Value":{"format":"int32","type":"integer","readOnly":true},"Validator":{"$ref":"#/definitions/SkipQueryValidator"}}},"TopQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"RawValue":{"type":"string","readOnly":true},"Value":{"format":"int32","type":"integer","readOnly":true},"Validator":{"$ref":"#/definitions/TopQueryValidator"}}},"CountQueryOption":{"type":"object","properties":{"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"RawValue":{"type":"string","readOnly":true},"Value":{"type":"boolean","readOnly":true},"Validator":{"$ref":"#/definitions/CountQueryValidator"}}},"ODataQueryValidator":{"type":"object","properties":{}},"IEdmModel":{"type":"object","properties":{"SchemaElements":{"type":"array","items":{"$ref":"#/definitions/IEdmSchemaElement"},"readOnly":true},"VocabularyAnnotations":{"type":"array","items":{"$ref":"#/definitions/IEdmVocabularyAnnotation"},"readOnly":true},"ReferencedModels":{"type":"array","items":{"$ref":"#/definitions/IEdmModel"},"readOnly":true},"DeclaredNamespaces":{"type":"array","items":{"type":"string"},"readOnly":true},"DirectValueAnnotationsManager":{"$ref":"#/definitions/IEdmDirectValueAnnotationsManager","readOnly":true},"EntityContainer":{"$ref":"#/definitions/IEdmEntityContainer","readOnly":true}}},"IEdmType":{"type":"object","properties":{"TypeKind":{"enum":["None","Primitive","Entity","Complex","Collection","EntityReference","Enum","TypeDefinition"],"type":"string","readOnly":true}}},"IEdmNavigationSource":{"type":"object","properties":{"NavigationPropertyBindings":{"type":"array","items":{"$ref":"#/definitions/IEdmNavigationPropertyBinding"},"readOnly":true},"Path":{"$ref":"#/definitions/IEdmPathExpression","readOnly":true},"Type":{"$ref":"#/definitions/IEdmType","readOnly":true},"Name":{"type":"string","readOnly":true}}},"ODataPath":{"type":"object","properties":{"EdmType":{"$ref":"#/definitions/IEdmType","readOnly":true},"NavigationSource":{"$ref":"#/definitions/IEdmNavigationSource","readOnly":true},"PathTemplate":{"type":"string","readOnly":true},"Segments":{"type":"array","items":{"$ref":"#/definitions/ODataPathSegment"},"readOnly":true}}},"SelectExpandQueryValidator":{"type":"object","properties":{}},"SelectExpandClause":{"type":"object","properties":{"SelectedItems":{"type":"array","items":{"$ref":"#/definitions/SelectItem"},"readOnly":true},"AllSelected":{"type":"boolean","readOnly":true}}},"ApplyClause":{"type":"object","properties":{"Transformations":{"type":"array","items":{"$ref":"#/definitions/TransformationNode"},"readOnly":true}}},"FilterQueryValidator":{"type":"object","properties":{}},"FilterClause":{"type":"object","properties":{"Expression":{"$ref":"#/definitions/SingleValueNode","readOnly":true},"RangeVariable":{"$ref":"#/definitions/RangeVariable","readOnly":true},"ItemType":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true}}},"OrderByNode":{"type":"object","properties":{"Direction":{"enum":["Ascending","Descending"],"type":"string","readOnly":true}}},"OrderByQueryValidator":{"type":"object","properties":{}},"OrderByClause":{"type":"object","properties":{"ThenBy":{"$ref":"#/definitions/OrderByClause","readOnly":true},"Expression":{"$ref":"#/definitions/SingleValueNode","readOnly":true},"Direction":{"enum":["Ascending","Descending"],"type":"string","readOnly":true},"RangeVariable":{"$ref":"#/definitions/RangeVariable","readOnly":true},"ItemType":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true}}},"SkipQueryValidator":{"type":"object","properties":{}},"TopQueryValidator":{"type":"object","properties":{}},"CountQueryValidator":{"type":"object","properties":{}},"IEdmSchemaElement":{"type":"object","properties":{"SchemaElementKind":{"enum":["None","TypeDefinition","ValueTerm","Action","EntityContainer","Function"],"type":"string","readOnly":true},"Namespace":{"type":"string","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmVocabularyAnnotation":{"type":"object","properties":{"Qualifier":{"type":"string","readOnly":true},"Term":{"$ref":"#/definitions/IEdmTerm","readOnly":true},"Target":{"$ref":"#/definitions/IEdmVocabularyAnnotatable","readOnly":true}}},"IEdmDirectValueAnnotationsManager":{"type":"object","properties":{}},"IEdmEntityContainer":{"type":"object","properties":{"Elements":{"type":"array","items":{"$ref":"#/definitions/IEdmEntityContainerElement"},"readOnly":true},"SchemaElementKind":{"enum":["None","TypeDefinition","ValueTerm","Action","EntityContainer","Function"],"type":"string","readOnly":true},"Namespace":{"type":"string","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmNavigationPropertyBinding":{"type":"object","properties":{"NavigationProperty":{"$ref":"#/definitions/IEdmNavigationProperty","readOnly":true},"Target":{"$ref":"#/definitions/IEdmNavigationSource","readOnly":true}}},"IEdmPathExpression":{"type":"object","properties":{"Path":{"type":"array","items":{"type":"string"},"readOnly":true},"ExpressionKind":{"enum":["None","BinaryConstant","BooleanConstant","DateTimeOffsetConstant","DecimalConstant","FloatingConstant","GuidConstant","IntegerConstant","StringConstant","DurationConstant","Null","Record","Collection","Path","ParameterReference","OperationReference","PropertyReference","ValueTermReference","EntitySetReference","EnumMemberReference","If","Cast","IsType","OperationApplication","LabeledExpressionReference","Labeled","PropertyPath","NavigationPropertyPath","DateConstant","TimeOfDayConstant","EnumMember"],"type":"string","readOnly":true}}},"ODataPathSegment":{"type":"object","properties":{"SegmentKind":{"type":"string","readOnly":true}}},"SelectItem":{"type":"object","properties":{}},"TransformationNode":{"type":"object","properties":{"Kind":{"enum":["Aggregate","GroupBy","Filter"],"type":"string","readOnly":true}}},"SingleValueNode":{"type":"object","properties":{"TypeReference":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true},"Kind":{"enum":["None","Constant","Convert","NonentityRangeVariableReference","BinaryOperator","UnaryOperator","SingleValuePropertyAccess","CollectionPropertyAccess","SingleValueFunctionCall","Any","CollectionNavigationNode","SingleNavigationNode","SingleValueOpenPropertyAccess","SingleEntityCast","All","EntityCollectionCast","EntityRangeVariableReference","SingleEntityFunctionCall","CollectionFunctionCall","EntityCollectionFunctionCall","NamedFunctionParameter","ParameterAlias","EntitySet","KeyLookup","SearchTerm","CollectionOpenPropertyAccess","CollectionPropertyCast","SingleValueCast","CollectionCount"],"type":"string","readOnly":true}}},"RangeVariable":{"type":"object","properties":{"Name":{"type":"string","readOnly":true},"TypeReference":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true},"Kind":{"format":"int32","type":"integer","readOnly":true}}},"IEdmTypeReference":{"type":"object","properties":{"IsNullable":{"type":"boolean","readOnly":true},"Definition":{"$ref":"#/definitions/IEdmType","readOnly":true}}},"IEdmTerm":{"type":"object","properties":{"TermKind":{"enum":["None","Type","Value"],"type":"string","readOnly":true},"SchemaElementKind":{"enum":["None","TypeDefinition","ValueTerm","Action","EntityContainer","Function"],"type":"string","readOnly":true},"Namespace":{"type":"string","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmVocabularyAnnotatable":{"type":"object","properties":{}},"IEdmEntityContainerElement":{"type":"object","properties":{"ContainerElementKind":{"enum":["None","EntitySet","ActionImport","FunctionImport","Singleton"],"type":"string","readOnly":true},"Container":{"$ref":"#/definitions/IEdmEntityContainer","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmNavigationProperty":{"type":"object","properties":{"Partner":{"$ref":"#/definitions/IEdmNavigationProperty","readOnly":true},"OnDelete":{"enum":["None","Cascade"],"type":"string","readOnly":true},"ContainsTarget":{"type":"boolean","readOnly":true},"ReferentialConstraint":{"$ref":"#/definitions/IEdmReferentialConstraint","readOnly":true},"PropertyKind":{"enum":["None","Structural","Navigation"],"type":"string","readOnly":true},"Type":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true},"DeclaringType":{"$ref":"#/definitions/IEdmStructuredType","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmReferentialConstraint":{"type":"object","properties":{"PropertyPairs":{"type":"array","items":{"$ref":"#/definitions/EdmReferentialConstraintPropertyPair"},"readOnly":true}}},"IEdmStructuredType":{"type":"object","properties":{"IsAbstract":{"type":"boolean","readOnly":true},"IsOpen":{"type":"boolean","readOnly":true},"BaseType":{"$ref":"#/definitions/IEdmStructuredType","readOnly":true},"DeclaredProperties":{"type":"array","items":{"$ref":"#/definitions/IEdmProperty"},"readOnly":true},"TypeKind":{"enum":["None","Primitive","Entity","Complex","Collection","EntityReference","Enum","TypeDefinition"],"type":"string","readOnly":true}}},"EdmReferentialConstraintPropertyPair":{"type":"object","properties":{"DependentProperty":{"$ref":"#/definitions/IEdmStructuralProperty","readOnly":true},"PrincipalProperty":{"$ref":"#/definitions/IEdmStructuralProperty","readOnly":true}}},"IEdmProperty":{"type":"object","properties":{"PropertyKind":{"enum":["None","Structural","Navigation"],"type":"string","readOnly":true},"Type":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true},"DeclaringType":{"$ref":"#/definitions/IEdmStructuredType","readOnly":true},"Name":{"type":"string","readOnly":true}}},"IEdmStructuralProperty":{"type":"object","properties":{"DefaultValueString":{"type":"string","readOnly":true},"ConcurrencyMode":{"enum":["None","Fixed"],"type":"string","readOnly":true},"PropertyKind":{"enum":["None","Structural","Navigation"],"type":"string","readOnly":true},"Type":{"$ref":"#/definitions/IEdmTypeReference","readOnly":true},"DeclaringType":{"$ref":"#/definitions/IEdmStructuredType","readOnly":true},"Name":{"type":"string","readOnly":true}}},"PageResult[PricingViewDto]":{"type":"object","properties":{"Items":{"type":"array","items":{"$ref":"#/definitions/PricingViewDto"}},"NextPageLink":{"type":"string"},"Count":{"format":"int64","type":"integer"}}},"PricingViewDto":{"type":"object","properties":{"UnderwritingProgramId":{"format":"int32","type":"integer"},"RiskObjectId":{"format":"int32","type":"integer"},"PerilId":{"format":"int32","type":"integer"},"TermsAndConditionsId":{"format":"int32","type":"integer"},"IndemnityTypeId":{"format":"int32","type":"integer"},"DeductionBasis":{"format":"int32","type":"integer"},"DeductionUnit":{"format":"int32","type":"integer"},"DeductionValue":{"format":"double","type":"number"},"LimitBasis":{"format":"int32","type":"integer"},"LimitUnit":{"format":"int32","type":"integer"},"LimitValue":{"format":"double","type":"number"},"TermsAndConditionsSpecificId":{"format":"int32","type":"integer"},"TermsAndConditionsSpecificBase":{"format":"int32","type":"integer"},"TermsAndConditionsSpecificDeductibleUnit":{"format":"int32","type":"integer"},"TermsAndConditionsSpecificDeductibleValue":{"format":"double","type":"number"},"TermsAndConditionsSpecificLimitUnit":{"format":"int32","type":"integer"},"TermsAndConditionsSpecificLimitValue":{"format":"double","type":"number"},"DeductibleBaseToUse":{"format":"int32","type":"integer","readOnly":true},"LimitBaseToUse":{"format":"int32","type":"integer","readOnly":true},"DeductibleUnitToUse":{"format":"int32","type":"integer","readOnly":true},"LimitUnitToUse":{"format":"int32","type":"integer","readOnly":true},"DeductibleValueToUse":{"format":"double","type":"number","readOnly":true},"LimitValueToUse":{"format":"double","type":"number","readOnly":true},"RuleName":{"type":"string"}}},"TermsConditionsSpecificRootDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"ProgramId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Base":{"format":"int32","type":"integer"},"TermsConditionsSpecificDedLimDtos":{"type":"array","items":{"$ref":"#/definitions/TermsConditionsSpecificDedLimDto"}},"TermsConditionsSpecificCriteriaDtos":{"type":"array","items":{"$ref":"#/definitions/TermsConditionsSpecificCriteriaDto"}}}},"TermsConditionsSpecificDedLimDto":{"type":"object","properties":{"IndemnityTypeId":{"format":"int32","type":"integer"},"DeductibleUnit":{"format":"int32","type":"integer"},"DeductibleValue":{"format":"double","type":"number"},"DeductibleMinimal":{"format":"double","type":"number"},"DeductibleMaximal":{"format":"double","type":"number"},"LimitUnit":{"format":"int32","type":"integer"},"LimitValue":{"format":"double","type":"number"},"LimitMinimal":{"format":"double","type":"number"},"LimitMaximal":{"format":"double","type":"number"}}},"TermsConditionsSpecificCriteriaDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"TypeId":{"format":"int32","type":"integer"},"OperatorId":{"format":"int32","type":"integer"},"Value":{"type":"string"},"SecondValue":{"type":"string"}}},"PerilDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"ProgramId":{"format":"int32","type":"integer"},"IndemnityLimit":{"type":"array","items":{"$ref":"#/definitions/LimitDeductibleDto"}},"IndemnityDeductible":{"type":"array","items":{"$ref":"#/definitions/LimitDeductibleDto"}},"SubPerilsList":{"type":"array","items":{"format":"int32","type":"integer"}}}},"LimitDeductibleDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"IndemnityType":{"enum":["PD","BI","Combined"],"type":"string"},"Value":{"format":"double","type":"number"},"Unit":{"enum":["ME","PercentageTSI","NbreDays"],"type":"string"},"Base":{"enum":["PerRisk","PerEvents"],"type":"string"},"IsAggregate":{"type":"boolean"}}},"ProgramRiskObjectDto":{"type":"object","properties":{"ProgramId":{"format":"int32","type":"integer"},"RiskObjectId":{"format":"int32","type":"integer"},"ObjectOrderInProgram":{"format":"int32","type":"integer"}}},"ODataQueryOptions[ProgramRiskObjectDto]":{"type":"object","properties":{"IfMatch":{"type":"object","readOnly":true},"IfNoneMatch":{"type":"object","readOnly":true},"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"Request":{"type":"object","readOnly":true},"RawValues":{"$ref":"#/definitions/ODataRawQueryOptions","readOnly":true},"SelectExpand":{"$ref":"#/definitions/SelectExpandQueryOption","readOnly":true},"Apply":{"$ref":"#/definitions/ApplyQueryOption","readOnly":true},"Filter":{"$ref":"#/definitions/FilterQueryOption","readOnly":true},"OrderBy":{"$ref":"#/definitions/OrderByQueryOption","readOnly":true},"Skip":{"$ref":"#/definitions/SkipQueryOption","readOnly":true},"Top":{"$ref":"#/definitions/TopQueryOption","readOnly":true},"Count":{"$ref":"#/definitions/CountQueryOption","readOnly":true},"Validator":{"$ref":"#/definitions/ODataQueryValidator"}}},"PageResult[ProgramRiskObjectDto]":{"type":"object","properties":{"Items":{"type":"array","items":{"$ref":"#/definitions/ProgramRiskObjectDto"}},"NextPageLink":{"type":"string"},"Count":{"format":"int64","type":"integer"}}},"UnderwritingRepositoryDto":{"type":"object","properties":{"UwRepositoryId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Comment":{"type":"string"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"},"UnderwritingRepositoryValues":{"type":"array","items":{"$ref":"#/definitions/UnderwritingRepositoryValueDto"}}}},"UnderwritingRepositoryValueDto":{"type":"object","properties":{"UwRepositoryValueSeq":{"format":"int32","type":"integer"},"UwRepositoryValueId":{"format":"int32","type":"integer"},"Value":{"format":"int32","type":"integer"},"Code":{"type":"string"},"Wording":{"type":"string"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"}}},"QuotaShareDto":{"type":"object","properties":{"LayerId":{"format":"int32","type":"integer"},"QuotaSharePremium":{"format":"double","type":"number"},"QuotaShareEarned":{"format":"double","type":"number"},"QuotaShareFac":{"format":"double","type":"number"},"Creator":{"type":"string"},"Modifier":{"type":"string"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"}}},"LayerDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"StatusId":{"format":"int32","type":"integer"},"ProgramId":{"format":"int32","type":"integer"},"Stretch":{"format":"double","type":"number"},"Share":{"format":"double","type":"number"},"GrossWrittenPremium":{"format":"double","type":"number"},"Brokerage":{"format":"double","type":"number"},"EngineeringFee":{"format":"double","type":"number"},"LeadOverrider":{"format":"double","type":"number"},"NetPremium":{"format":"double","type":"number"},"TechnicalPremium":{"format":"double","type":"number"},"Creator":{"type":"string"},"Modifier":{"type":"string"},"ShareSigned":{"format":"double","type":"number"},"PolicyNumber":{"type":"string"}}},"GlobalExpertDataDto":{"type":"object","properties":{"ExpertDataId":{"format":"int32","type":"integer"},"ActivitySector":{"format":"int32","type":"integer"},"GlobalFireOccupancyClass":{"format":"int32","type":"integer"},"GlobalFireRiskManagement":{"type":"string"},"GlobalFireProcessSafetyManagement":{"type":"string"},"GlobalFirePassiveProtection":{"type":"string"},"GlobalFireOccupancyRelatedHazards":{"type":"string"},"GlobalFireHumanElement":{"type":"string"},"GlobalFireActiveProtection":{"type":"string"},"GlobalFireSurveillance":{"type":"string"},"GlobalFireAssetIntegrityManagement":{"type":"string"},"GlobalFireThirdPartyExposure":{"type":"string"},"GlobalFireBiExposure":{"type":"string"},"FireWav":{"format":"int32","type":"integer"},"FireRci":{"format":"int32","type":"integer"},"FireGear":{"format":"int32","type":"integer"},"GlobalMbOccupancyClass":{"format":"int32","type":"integer"},"GlobalMbMachineryReliability":{"type":"string"},"GlobalMbEquipmentSpecification":{"type":"string"},"GlobalMbHumanElement":{"type":"string"},"GlobalMbInstalledProtection":{"type":"string"},"GlobalMbElectricSupplyExposure":{"type":"string"},"GlobalMbEssentialFluidsExposure":{"type":"string"},"GlobalMbLocationAccessibility":{"type":"string"},"MbWav":{"format":"int32","type":"integer"},"MbRci":{"format":"int32","type":"integer"},"MbGear":{"format":"int32","type":"integer"},"Creator":{"type":"string"},"Modifier":{"type":"string"}}},"CheckListDto":{"type":"object","properties":{"CheckListId":{"format":"int32","type":"integer"},"TemplateItemLabel":{"type":"string"},"CheckListStatus":{"format":"int32","type":"integer"},"ProgramId":{"format":"int32","type":"integer"}}},"ProgramDto":{"type":"object","properties":{"ProgramId":{"format":"int32","type":"integer"},"BusinessSubLineId":{"format":"int32","type":"integer"},"BusinessClassId":{"format":"int32","type":"integer"},"Status":{"format":"int32","type":"integer"},"UnderwriterId":{"type":"string"},"ProgramPolicyHolderId":{"type":"string"},"HoldingId":{"type":"string"},"BrokerId":{"type":"string"},"LobId":{"format":"int32","type":"integer"},"UnderwritingOfficeId":{"format":"int32","type":"integer"},"IgUnderwritingOfficeId":{"format":"int32","type":"integer"},"UnderwritingYear":{"format":"int32","type":"integer"},"MainActivityId":{"format":"int32","type":"integer"},"CountryId":{"type":"string"},"InceptionDate":{"format":"date-time","type":"string"},"ExpiryDate":{"format":"date-time","type":"string"},"CurrencyId":{"type":"string"},"Turnover":{"format":"int64","type":"integer"},"SubmissionType":{"format":"int32","type":"integer"},"ProgramPolicyType":{"format":"int32","type":"integer"},"IsInExcessOfDeductible":{"type":"boolean"},"BusinessType":{"format":"int32","type":"integer"},"BusinessSegment":{"format":"int32","type":"integer"},"Creator":{"type":"string"},"Modifier":{"type":"string"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"},"GlobalExpertDataDto":{"$ref":"#/definitions/GlobalExpertDataDto"}}},"ODataQueryOptions[ProgramDto]":{"type":"object","properties":{"IfMatch":{"type":"object","readOnly":true},"IfNoneMatch":{"type":"object","readOnly":true},"Context":{"$ref":"#/definitions/ODataQueryContext","readOnly":true},"Request":{"type":"object","readOnly":true},"RawValues":{"$ref":"#/definitions/ODataRawQueryOptions","readOnly":true},"SelectExpand":{"$ref":"#/definitions/SelectExpandQueryOption","readOnly":true},"Apply":{"$ref":"#/definitions/ApplyQueryOption","readOnly":true},"Filter":{"$ref":"#/definitions/FilterQueryOption","readOnly":true},"OrderBy":{"$ref":"#/definitions/OrderByQueryOption","readOnly":true},"Skip":{"$ref":"#/definitions/SkipQueryOption","readOnly":true},"Top":{"$ref":"#/definitions/TopQueryOption","readOnly":true},"Count":{"$ref":"#/definitions/CountQueryOption","readOnly":true},"Validator":{"$ref":"#/definitions/ODataQueryValidator"}}},"PageResult[ProgramDto]":{"type":"object","properties":{"Items":{"type":"array","items":{"$ref":"#/definitions/ProgramDto"}},"NextPageLink":{"type":"string"},"Count":{"format":"int64","type":"integer"}}},"ClusterDto":{"type":"object","properties":{"ClusterId":{"format":"int32","type":"integer"},"UnderwritingProgramId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"Creator":{"type":"string"},"Modifier":{"type":"string"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"},"ClusterRiskObjects":{"type":"array","items":{"$ref":"#/definitions/ClusterRiskObjectDto"}}}},"ClusterRiskObjectDto":{"type":"object","properties":{"RiskObjectId":{"format":"int32","type":"integer"},"CreationDate":{"format":"date-time","type":"string"},"ModificationDate":{"format":"date-time","type":"string"}}}},"securityDefinitions":{"apiKey":{"type":"apiKey","description":"API Key Authentication","name":"X-API-KEY","in":"header"}}}