<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
    <!-- For production environnemnt, custom the section below-->
    <file value="c:/LogFiles/UW_DotnetCore/UE.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date %5timestampms %class.%method - %m%n %exception" />
    </layout>
  </appender>
  <root>
    <!-- For production environnemnt, custom the section below, set INFO-->
    <level value="ALL" />
    <appender-ref ref="DefaultAppender" />
  </root>
</log4net>